<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Driver Login</title>
<style>
body { font-family: Arial; padding:20px; }
input, button {
  width:100%; padding:15px;
  margin-top:10px; font-size:18px;
}
button { background:#0d6efd; color:white; border:none; }
</style>
</head>
<body>

<h2>🚛 Driver Login</h2>

<form method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Driver ID" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>

</body>
</html>
